In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import pickle

### loading the scaler and the model

In [2]:
scaler_deep_learning = pickle.load(open('scaler_deep_learning.pickle', 'rb'))
model = tf.keras.models.load_model('Employee_Attrition_model.h5')

### Loading the new dataset to be used for prediction

In [3]:
new_data_inputs = pd.read_csv('predict_on_exist.csv')
new_data_inputs

         0     1  2    3   4  5  6  7  8
0     0.62  0.63  5  153   6  0  0  4  2
1     0.21  0.76  6  219   4  1  0  1  2
2     0.19  0.63  4  278   6  0  0  4  1
3     0.94  0.69  5  145   2  0  0  8  2
4     0.51  0.86  3  182  10  0  0  1  1
...    ...   ... ..  ...  .. .. .. .. ..
7851  0.50  0.73  3  148   3  0  0  2  1
7852  0.21  0.58  5  197   4  0  0  4  1
7853  0.87  0.59  4  202   3  0  0  7  2
7854  0.99  0.55  3  197   2  0  0  7  2
7855  0.76  0.98  2  235   3  0  0  6  3

[7856 rows x 9 columns]

### Standardising our new dataset to take variance and mean similar to that of the model data

In [4]:
new_data_inputs_scaled = scaler_deep_learning.fit_transform(new_data_inputs)

#### predicting employees who are likely to leave using the new dataset 

#### (proportion of existing employee dataset not used in training the model)

In [5]:
leave_prediction = np.argmax(model.predict(new_data_inputs_scaled),1)
leave_prediction

array([0, 1, 0, ..., 0, 0, 0], dtype=int64)

The **1's indicate where the model has predicted a leaving employee** from our new dataset

In [6]:
#getting number of employees in the portion of the existing dataset used
num_employees = len(new_data_inputs.axes[0])

#getting number of employees predicted to leave
leaving =leave_prediction.sum()

In [7]:
#printing the results
print(str(leaving) + ' employees out of new_data_inputs(' + str(num_employees) +' existing employees) are likely to leave!')

1045 employees out of new_data_inputs(7856 existing employees) are likely to leave!

In [8]:
#printing their proportion
print('Proportion of the new_data_inputs('+ str(num_employees) +' existing employees) who are likely to leave: {0:.2f}%'.format((leave_prediction.sum()/len(new_data_inputs.axes[0]))*100))

Proportion of the new_data_inputs(7856 existing employees) who are likely to leave: 13.30%